DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=http://localhost:3000/auth/discord/callback
MONGODB_URI=mongodb://localhost:27017/checkbot
SESSION_SECRET=some_random_secret_string
PORT=3000
